<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="static/home.css" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
  <div class="container">
      <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand mb-0 h1" href="#">
            <img src="static/dbs-bank-squarelogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Welcome {{ user }}!
          </a>
            <a class="nav-link active" href="/logout" role="button">Logout</a>
        </nav>
  </div>

    <div class="container">
        <div class="row">
            <div class="container">
                <h4>Recommended For You</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    1
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalCenter" value="Buy">Buy</button>
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Please confirm if you want to proceed.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Proceed</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    2
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    3
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    4
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    5
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                    <h4>Top Performing Stocks</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    1
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    2
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    3
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    4
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    5
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                    <h4>Something Else</h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    1
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    2
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    3
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    4
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    5
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Stock Ticker</h5>
                    <p class="card-text">Price Change</p>
                    <button class="btn btn-primary" type="submit" value="Buy">Buy</button>
                  </div>
                </div>
            </div>
        </div>
    </div>


  </body>
</html>