<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="static/register.css" rel="stylesheet" media="screen">
<!------ Include the above in your HEAD tag ---------->

<div class="container register-form">
            <div class="form">
                <div class="note">
                    <p>Registration</p>
                </div>
                <div class="form-content">
                    <h3>Personal Details</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" type="date" value="" id="dob"/>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Confirm Email" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
{#                            <div class="form-group">#}
{#                                <input type="text" class="form-control" placeholder="Username" value=""/>#}
{#                            </div>#}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Password" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Net Worth" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Investable Assets" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Liabilities" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Annual Income" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Target Retirement Age" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Monthly Expenditure" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Investment Experience Rating (1-4)" value=""/>
{#                                  <label class="mr-sm-2 sr-only" for="exp">Rating</label>#}
{#                                  <select class="custom-select mr-sm-2" id="exp">#}
{#                                    <option selected>Rate your experience in investing</option>#}
{#                                    <option value="1">1</option>#}
{#                                    <option value="2">2</option>#}
{#                                    <option value="3">3</option>#}
{#                                    <option value="4">3</option>#}
{#                                  </select>#}
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Investment Objectives" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Loss Tolerance" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Market Fluctuation Tolerance" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Time Commitment" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Short term needs (2-3yr)" value=""/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Medium Term Needs (5-10yr)" value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Long Term needs (Retire/20yr)" value=""/>
                            </div>
                        </div>
                    </div>
                    <h3>Interests</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="energy">
                                <label class="form-check-label" for="energy">Energy</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materials">
                                <label class="form-check-label" for="materials">Materials</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="industrials">
                                <label class="form-check-label" for="industrials">Industrials</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="cd">
                                <label class="form-check-label" for="cd">Consumer Discretionary</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="cs">
                                <label class="form-check-label" for="cs">Consumer Staples</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="health">
                                <label class="form-check-label" for="health">Health Care</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="finance">
                                <label class="form-check-label" for="finance">Financials</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="it">
                                <label class="form-check-label" for="it">Information Technology</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="ts">
                                <label class="form-check-label" for="ts">Telecommunication Services</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="utils">
                                <label class="form-check-label" for="utils">Utilities</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="re">
                                <label class="form-check-label" for="re">Real Estate</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary btn-lg btn-block" type = "submit">Register</button>
                    <a class="btn btn-secondary btn-lg btn-block" href="/login" role="button">Cancel</a>
                </div>
            </div>
</div>